<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TruthGame</title>
    <!-- TEMP -->
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
<body>

    <!-- popup de connexion -->
    <div class="modal flexcenter none" id="login_modal">
        <div id="login">
            <h2>CONNEXION</h2>
            <form action="" method="post">
            <label for="login_input">NOM DE COMPTE :</label><input type="text" name="name" id="login_input">
            <label for="password_input">MOT DE PASSE :</label><input type="password" name="password" id="password_input">
            </form>
            <button id= "log_button" type="submit">VALIDEZ</button>
        </div>
    </div>

    <header>
        <img id=logo src="img/logo.png" alt="">
    </header>

    <main class="page_admin">

        <div class="home">

            <input type="button" value="Mes qizzs" id="nbr_qizz">
            <input type="button" value="créer un qizz" id="creer_qizz">

        </div>

        <form action="/submit_name_qizz" method="post" id="form_nom_quizz">

            <input name="nom_qizz" type="text" id="nom_quizz" placeholder="nom du quizz" required>
            <input type="submit" value="valider" id="btn_nom_quizz_valider">

        </form>

        <form action="/submit_question" method="post" id="config_questions">

            <div class="config">

                <div class="container">
                    <label for="type_question">Type de question</label>
                    <select name="type_question" id="type_question">
                        <option value="">-- choisissez le type de la question --</option>
                        <option value="qcm">qcm</option>
                        <!--<option value="text">text</option>-->
                    </select>
                </div>
                
                <div class="container intitule_reponse">
                    <label for="intitule_reponse">intitulé de la question</label>
                    <input name="intitule" type="text" id="intitule_reponse" placeholder="En cobol...">
                </div>
                
                <div class="container nbr_question">
                    <label for="nbr_reponses">nombre de réponse(s)</label>
                    <select name="nbr_reponses" id="nbr_reponses">
                        <option value="">-- choisissez le nombre de reponse --</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="container type_text">
                    <label for="type_text">type texte</label>
                    <select name="type_text" id="type_text">
                        <option value="">-- choisissez le language --</option>
                        <option value="texte">texte</option>
                        <option value="javascript">JavaScript</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="python">Python</option>
                        <option value="sql">SQL</option>
                        <option value="json">JSON</option>
                        <option value="php">PHP</option>
                    </select>
                </div>

                <input type="submit" value="Question suivante" id="btn_question_suivante">
                <input type="button" value="Valider le quizz" id="btn_valider_quizz">

            </div>


            <div class="reponses">
                <!-- ! Fait en JS -->

                <!-- <div class="attention">
                    <p>/!\ ATTENTION /!\<br />cocher la/les bonne(s) reponse(s)</p>
                </div> -->

                <!-- <div class="reponse">
                    <div class="space_between">
                        <label for="">Réponse 1</label>
                        <input type="checkbox" name="" id="">
                    </div>
                    <input type="text">
                </div> -->

                <!-- <label for="reponse_text">entrez la réponse</label> -->
                <!-- <textarea name="" id="reponse_text" placeholder="code..."></textarea> -->

            </div>

        </form>

    </main>

</body>
<!-- <script src="../public/js/ajout.js"></script>
<script src="../public/js/script.js"></script> -->

<script src="js/ajout_admin.js"></script>
<script src="js/script_admin.js"></script>
</html>