<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goulaged</title>
    <link rel="stylesheet" href="css/goulag.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id=logo src="img/logo.png" alt="">
    </header>
    <main>
        <div class="main-info">
            <h1>YOU CHEATED</h1>
            <article class="description">
                <p>Mais une seconde chance vous est accordée...</p>
                <p>À la fin du “Qizz”, vous affronterez vos semblables dans un goulag afin d’avoir une chance d’échapper au 0</p>
                <br>
                <p>Bon courage.</p>
            </article>
        </div>
        <img class="troll" src="img/sans_punish.gif" alt="Dancing Sans">
    </main>
<script src="js/gscript.js"></script>
<audio id="startAudio" src="img/cest-honteux-rene.mp3" preload="auto"></audio>
</body>
</html>