<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TruthGame</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
<body>

    <!-- popup de connexion -->
    <div class="modal flexcenter none" id="login_modal">
        <div id="login">
            <h2>CONNEXION</h2>
            <form action="" method="post">
            <label for="login_input">NOM DE COMPTE :</label><input type="text" name="name" id="login_input">
            <label for="password_input">MOT DE PASSE :</label><input type="password" name="password" id="password_input">
            </form>
            <button id= "log_button" type="submit">VALIDEZ</button>
        </div>
    </div>

    <header>
        <img id=logo src="../public/img/logo.png" alt="">
    </header>

    <main class="page_admin">

        <form action="POST">

            <div class="admin_form-titre">
                <input type="text" id="admin_form-titre-nom" placeholder="LE TITRE DE MON NOUVEAU QUIZZ" required>
                <label for="admin_form-titre-nom"><i class="fa-solid fa-pen"></i></label>
            </div>

            
            <div class="container">
                <label for="type">Type :</label>
                <select name="" id="type-select">
                    <option value="">--choisissez le type de question--</option>
                    <option value="qcm">qcm</option>
                    <option value="text">Text</option>
                </select>
            </div>
            
            <div class="container">
                <label for="">Intitulé de la question :</label>
                <input type="text">
            </div>
            
            <div class="qcm">
    
                <div class="container">
                    <label for="">Nbr de réponce à la question :</label>
                    <select name="number" id="number-select">
                        <option value="">--choisissez le type de question--</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                
    
                <div class="container" id="questions">

                </div>
                

            </div>

            <div class="text">

                <input type="text">

            </div>

            <button>question suivante</button>

        </form>

    </main>

</body>
<script src="../public/js/script.js"></script>
</html>