<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Qizz Goulag</title>
        <link rel="stylesheet" href="../public/css/goulag.css">
    </head>
    <body>
        
        <header>
            <img id=logo src="../public/img/logo.png" alt="">
            <h3>Your score: <span id="user_score">0</span></h3>
        </header>
        <main>
            <h1 id="timer"></h1>
            <!-- <section id="leaderboard">
                <h2>LEADERBOARD</h2>
                <p>1 - CLASS D : <span id="first">400</span></p>
                <p>2 - CLASS D : <span id="second">400</span></p>
                <p>3 - CLASS D : <span id="third">400</span></p>
            </section> -->
            <h1>CLASS D : <span id="nbr_title">400</span></h1>
            <div id="quiz">
                <h3 id="question_title"></h3>
                <div id="answer_area">
                    <button class="qcm_answer" id="qcm_choice1"></button>
                    <button class="qcm_answer" id="qcm_choice2"></button>
                    <button class="qcm_answer" id="qcm_choice3"></button>
                    <button class="qcm_answer" id="qcm_choice4"></button>
                </div>
            </div>
        </main>
    <script type="text/javascript" src="../public/js/gscript.js"></script>
    <script src="../public/js/scriptGoulag.js"></script>
    </body>
</html>
