
    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TruthGame</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- popup de connexion -->
        <div class="modal flexcenter" id="login_modal">
            <div id="rules">
                <h2>CONTRAT</h2>
                <p>Cher apprenant,<br> en signant ce contrat, tu t'engages à réaliser ce test par la seul force de tes connaissances, sans outils ou aide externe.<br>Il t'es donc dors et déjà <span>interdit</span> :<br>- de changer d'onglet<br>- de changer de bureau ou de fenêtre de logiciel<br> - d'utiliser les touches <strong>"ctrl"</strong>, <strong>"shift"</strong>, <strong>"tab"</strong>, <strong>"alt"</strong>, <strong>"altgr"</strong>,<strong>"windows"</strong>, <strong>"opt"</strong>, <strong>"cmd"</strong>, les touches <strong>fonction</strong> et enfin le <strong>clic droit</strong>.<br>Une fois le contrat signé, ton navigateur passera en <span>plein écran</span> et le test débutera. Pendant toute la durée de celui-ci, <span>il est interdit de quitter ce mode "plein écran"</span><br>Tout comportement ne respectant pas ces règles entrainera un <strong>zéro</strong> comme note d'évaluation.</p>

                <button id="rules_button" type="submit">SIGNER LE CONTRAT</button>
            </div>
        </div>

        <header>
            <img id="logo" src="img/logo.png" alt="">
        </header>
        <main>
            <input type="hidden" id="name" name="name" value="name_student">
            <input type="hidden" id="firstname" name="firstname" value="firstname_student">
            <input type="hidden" id="qizz" name="qizz" value="qizz_student">

            
    <section class="qcm_section" id="num_0">
        <h2> perseval </h2>
        <form class="qcm_answer_form flexcenter" action="/send_answer" method="post">
            <div class="qcm_answer_list">
                
        <label class="qcm_label" for="rep0_0">perseval</label>
        <input type="checkbox" name="rep0_0" id="rep0_0" class="checkbox" style="display:none">
        
        <label class="qcm_label" for="rep1_0">perseval</label>
        <input type="checkbox" name="rep1_0" id="rep1_0" class="checkbox" style="display:none">
        
            </div>
            <button class="answer_sending_button" type="submit">Validez</button>
        </form>
    </section>
    
    <section class="qcm_section" id="num_1">
        <h2> perseval </h2>
        <form class="qcm_answer_form flexcenter" action="/send_answer" method="post">
            <div class="qcm_answer_list">
                
        <label class="qcm_label" for="rep0_1">perseval</label>
        <input type="checkbox" name="rep0_1" id="rep0_1" class="checkbox" style="display:none">
        
        <label class="qcm_label" for="rep1_1">perseval</label>
        <input type="checkbox" name="rep1_1" id="rep1_1" class="checkbox" style="display:none">
        
            </div>
            <button class="answer_sending_button" type="submit">Validez</button>
        </form>
    </section>
    
    <section class="qcm_section" id="num_2">
        <h2> perseval </h2>
        <form class="qcm_answer_form flexcenter" action="/send_answer" method="post">
            <div class="qcm_answer_list">
                
        <label class="qcm_label" for="rep0_2">perseval</label>
        <input type="checkbox" name="rep0_2" id="rep0_2" class="checkbox" style="display:none">
        
        <label class="qcm_label" for="rep1_2">perseval</label>
        <input type="checkbox" name="rep1_2" id="rep1_2" class="checkbox" style="display:none">
        
            </div>
            <button class="answer_sending_button" type="submit">Validez</button>
        </form>
    </section>
    
    <section class="qcm_section" id="num_3">
        <h2> perseval </h2>
        <form class="qcm_answer_form flexcenter" action="/send_answer" method="post">
            <div class="qcm_answer_list">
                
        <label class="qcm_label" for="rep0_3">perseval</label>
        <input type="checkbox" name="rep0_3" id="rep0_3" class="checkbox" style="display:none">
        
        <label class="qcm_label" for="rep1_3">perseval</label>
        <input type="checkbox" name="rep1_3" id="rep1_3" class="checkbox" style="display:none">
        
            </div>
            <button class="answer_sending_button" type="submit">Validez</button>
        </form>
    </section>
    
    <section class="qcm_section" id="num_4">
        <h2> perseval </h2>
        <form class="qcm_answer_form flexcenter" action="/send_answer" method="post">
            <div class="qcm_answer_list">
                
        <label class="qcm_label" for="rep0_4">perseval</label>
        <input type="checkbox" name="rep0_4" id="rep0_4" class="checkbox" style="display:none">
        
        <label class="qcm_label" for="rep1_4">perseval</label>
        <input type="checkbox" name="rep1_4" id="rep1_4" class="checkbox" style="display:none">
        
            </div>
            <button class="answer_sending_button" type="submit">Validez</button>
        </form>
    </section>
    
    <section class="qcm_section" id="num_5">
        <h2> perseval </h2>
        <form class="qcm_answer_form flexcenter" action="/send_answer" method="post">
            <div class="qcm_answer_list">
                
        <label class="qcm_label" for="rep0_5">perseval</label>
        <input type="checkbox" name="rep0_5" id="rep0_5" class="checkbox" style="display:none">
        
        <label class="qcm_label" for="rep1_5">perseval</label>
        <input type="checkbox" name="rep1_5" id="rep1_5" class="checkbox" style="display:none">
        
            </div>
            <button class="answer_sending_button" type="submit">Validez</button>
        </form>
    </section>
    
        </main>
        <script src="js/script_qizz.js"></script>
        <script src="js/editor.bundle.js"></script>
    </body>
    </html>
    