:root{
    --gold: #CEBA71;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    background-image: url('../img/bg_.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

header{
    height: 62px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid white;
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 128px;
    margin-left: 5%;
}

h1{
    font-size: 48px;
    letter-spacing: 1px;
}

h2{
    margin-top: 12px;
    font-size: 36px;
    letter-spacing: 1px;
}
h3{
    font-size: 26px;
    letter-spacing: 1px;
}

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-image: url("../../../Project/public/img/texturepopup.png");
    backdrop-filter: blur(4px);
}

#login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    height: fit-content;
    width: 50vw;
    max-width: 526px;
    padding-bottom: 50px;
    font-family: Bokor, serif;

}

#login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 90%;
    margin: 20px auto auto;
}

#login label{
    display: block;
    font-size: 24px;
}

#login input{
    background: none;
    width: 100%;
    height: 46px;
    font-size: 24px;
    font-family: Coolvetica, serif;
    color: white;
    border: 1px solid white;
    border-radius: 22px;
    padding: 0 15px;
    margin: 6px 0 30px 0;
}

#login button{
    position: relative;
    font-family: Bokor, serif;
    color: white;
    font-size: 40px;
    margin: 30px auto 0 auto;
    background: none;
    border: none;
}
#login button:hover{
    color: var(--gold);
}

#rules{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    height: fit-content;
    width: 50vw;
    max-width: 600px;
    padding-bottom: 50px;
    font-family: Bokor, serif;
    text-align: center;
}

#rules p{
    font-family: 'Bebas Neue', serif;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 20px;
    color: whitesmoke;
}
#rules p span{
    text-decoration: underline 3px var(--gold);
}
#rules p strong{
    color: var(--gold);
}


#rules_button{
    font-family: Bokor, serif;
    color: white;
    letter-spacing: 1px;
    font-size: 28px;
    margin-top: 20px;
    background: none;
    border: none;
}
#rules_button:hover{
    color: var(--gold);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz_title{
    margin: 80px auto;
    letter-spacing: 2px;
}

#texted_answer_section{
    text-align: center;
}
#texted_answer_section label{
    display: block;
    margin: 20px auto 40px auto;
    font-size: 28px;
}

#answer_area{
    display: block;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-size: 14px;
    padding: 15px;
}
#answer_area:focus{
    outline: none;
}
#texted_answer_section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.answer_sending_button{
    border: 1px solid white;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    padding: 6px 30px;
    margin-top: 20px;

}

.answer_sending_button:hover{
    border: 1px solid var(--gold);

}
.answer_sending_button:active{
    outline: 1px solid var(--gold);

}
.qcm_section{
    flex-direction: column;

}

.qcm_answer_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qcm_answer_list div{
    display: flex;
    gap: 50px;
}

.qcm_answer{
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-family: Coolvetica, sans-serif;
    font-size: 18px;
    padding: 4px 12px 6px 12px;
    margin: 40px 0;

}

.qcm_answer:hover{
    border: 1px solid var(--gold);
}

.qcm_answer:active{
    outline: 1px solid var(--gold);
}

#ending_words{
    font-family: bokor, serif;
    font-size: 112px;
    letter-spacing: 8px;
    text-shadow: #010101 10px 10px 10px;
}

#close_button{
    border: 1px solid white;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    padding: 6px 30px;
    margin-top: 20px;
}

#close_button:hover{
    border: 1px solid var(--gold);

}
#close_button:active{
    outline: 1px solid var(--gold);

}