:root{
    --gold: #CEBA71;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    background-image: url('../img/bg_.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid white;
}

main {
    padding-top: 62px;
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 128px;
    margin-left: 5%;
}

h1{
    font-size: 48px;
    letter-spacing: 1px;
}

h2{
    margin-top: 12px;
    font-size: 36px;
    letter-spacing: 1px;
}
h3{
    font-size: 26px;
    letter-spacing: 1px;
}

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-image: url("../img/texturepopup.png");
    backdrop-filter: blur(4px);
}

#login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    height: fit-content;
    width: 50vw;
    max-width: 526px;
    padding-bottom: 50px;
    font-family: Bokor, serif;

}

#login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 90%;
    margin: 20px auto auto;
}

#login label{
    display: block;
    font-size: 24px;
}

#login input{
    background: none;
    width: 100%;
    height: 46px;
    font-size: 24px;
    font-family: Coolvetica, serif;
    color: white;
    border: 1px solid white;
    border-radius: 22px;
    padding: 0 15px;
    margin: 6px 0 30px 0;
}

#login button{
    position: relative;
    font-family: Bokor, serif;
    color: white;
    font-size: 40px;
    margin: 30px auto 0 auto;
    background: none;
    border: none;
}
#login button:hover{
    color: var(--gold);
}

#rules{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    height: fit-content;
    width: 50vw;
    max-width: 600px;
    padding-bottom: 50px;
    font-family: Bokor, serif;
    text-align: center;
}

#rules p{
    font-family: 'Bebas Neue', serif;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 20px;
    color: whitesmoke;
}
#rules p span{
    text-decoration: underline 3px var(--gold);
}
#rules p strong{
    color: var(--gold);
}


#rules_button{
    font-family: Bokor, serif;
    color: white;
    letter-spacing: 1px;
    font-size: 28px;
    margin-top: 20px;
    background: none;
    border: none;
}
#rules_button:hover{
    color: var(--gold);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz_title{
    margin: 80px auto;
    letter-spacing: 2px;
}

#texted_answer_section{
    text-align: center;
}
#texted_answer_section label{
    display: block;
    margin: 20px auto 40px auto;
    font-size: 28px;
}

#answer_area{
    display: block;
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-size: 14px;
    padding: 15px;
}
#answer_area:focus{
    outline: none;
}
#texted_answer_section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.answer_sending_button{
    border: 1px solid white;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    padding: 6px 30px;
    margin-top: 20px;

}

.answer_sending_button:hover{
    border: 1px solid var(--gold);

}
.answer_sending_button:active{
    outline: 1px solid var(--gold);

}
.qcm_section{
    flex-direction: column;

}

.qcm_answer_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qcm_answer_list div{
    display: flex;
    gap: 50px;
}

.qcm_answer{
    border: 1px solid white;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-family: Coolvetica, sans-serif;
    font-size: 18px;
    padding: 4px 12px 6px 12px;
    margin: 40px 0;

}

.qcm_answer:hover{
    border: 1px solid var(--gold);
}

.qcm_answer:active{
    outline: 1px solid var(--gold);
}

#ending_words{
    font-family: bokor, serif;
    font-size: 112px;
    letter-spacing: 8px;
    text-shadow: #010101 10px 10px 10px;
}

#close_button{
    border: 1px solid white;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    padding: 6px 30px;
    margin-top: 20px;
}

#close_button:hover{
    border: 1px solid var(--gold);

}
#close_button:active{
    outline: 1px solid var(--gold);

}

/* ========================================== *\
    index.hmtl admin branch
\* ========================================== */

.none {
    display: none;
}

.page_admin {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 120px;
}


/* ==================== FORM NOM DU QUIZZ ==================== */
.page_admin #form_nom_quizz {
    position: absolute;
    top: 40%;
    background-color: #222;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
    /* ! ! ! */
    /* display: none; */
    /* ! ! ! */
}

.page_admin #form_nom_quizz #nom_quizz {
    background-color: transparent;
    outline: 0;
    border: 2px solid #6C6C6C;
    border-radius: .5rem;
    color: #fff;
    padding: .5rem 1rem;
    text-align: center;
    font-family: 'Bebas Neue', serif;
    font-size: 2rem;
    width: 400px;
}

.page_admin #form_nom_quizz #btn_nom_quizz_valider {
    background-color: #6C6C6C;
    outline: 0;
    border: none;
    border-top: 4px solid #6C6C6C;
    border-bottom: 4px solid #080808;
    border-radius: .5rem;
    color: #fff;
    padding: .4rem 1rem;
    text-align: center;
    font-family: 'Bebas Neue', serif;
    font-size: 2rem;
    cursor: pointer;
}

.page_admin #form_nom_quizz #btn_nom_quizz_valider:hover {
    background-color: #4b4b4b;
    
    border-top: 4px solid #4b4b4b;
}

.page_admin #form_nom_quizz #btn_nom_quizz_valider:focus {
    border-top: 0;
    border-bottom: 0;
}

/* ==================== FORM CONFIG QUESTION ==================== */
.line {
    width: 100%;
    height: 2px;
    background-color: #313131;
    margin-top: 1rem;
}

.page_admin #config_questions {
    /* background-color: red; */
    max-width: 1000px;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0px;
    /* ! ! ! */
    display: none;
    /* ! ! ! */
}

.page_admin #config_questions .config {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page_admin #config_questions .config .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.page_admin #config_questions .config .intitule_reponse,
.page_admin #config_questions .config .nbr_question,
.page_admin #config_questions .config .type_text {
    display: none;
}

.page_admin #config_questions .config .container label {
    font-size: 1.5rem;
    transform: translateX(.5rem);
}

.page_admin #config_questions .config .container select {
    padding: .5rem 1rem;
    border-radius: .5rem;
    outline: 0;
    border: 2px solid #6C6C6C;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.page_admin #config_questions .config .container select option {
    background-color: grey;
}

.page_admin #config_questions .config .container input {
    padding: .5rem 1rem;
    border-radius: .5rem;
    outline: 0;
    border: 2px solid #6C6C6C;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: text;
    width: 100%;
}

.page_admin #config_questions .reponses {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page_admin #config_questions .reponses .reponse {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_admin #config_questions .reponses .reponse input {
    padding: .5rem 1rem;
    border-radius: .5rem;
    outline: 0;
    border: 2px solid #6C6C6C;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: text;
}

.page_admin #config_questions .reponses .reponse input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.attention p {
    text-align: center;
    color: red;
}

#btn_question_suivante {
    display: none;
}

#btn_question_suivante {
    background-color: #948b8b;
    outline: 0;
    border: none;
    border-radius: .5rem;
    color: #fff;
    padding: .3rem 1rem;
    text-align: center;
    font-family: 'Bebas Neue', serif;
    font-size: 1.7rem;
    cursor: pointer;
}

#btn_question_suivante:hover {
    background-color: #948b8bcc;
}

#btn_valider_quizz {
    background-color: #494949;
    outline: 0;
    border: none;
    border-radius: .5rem;
    color: #c7c7c7;
    padding: .3rem 1rem;
    text-align: center;
    font-family: 'Bebas Neue', serif;
    font-size: 1.7rem;
    cursor: pointer;
}

#btn_valider_quizz:hover {
    background-color: #49494988;
    color: #e0e0e0;
}

#reponse_text {
    width: 100%;
    height: 300px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    outline: 0;
    border: 2px solid #6C6C6C;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: text;
    /* display: none; */
}

#config_questions i {
    color: red;
}

.type_text {
    display: none;
}

/* ==================== FORM CONFIG QUESTION ==================== */

.page_admin .home {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* ! ! ! */
    display: none;
    /* ! ! ! */
}

.page_admin .home input {
    background-color: #6C6C6C;
    outline: 0;
    border: none;
    border-top: 4px solid #6C6C6C;
    border-bottom: 4px solid #080808;
    border-radius: .5rem;
    color: #fff;
    padding: .4rem 1rem;
    text-align: center;
    font-family: 'Bebas Neue', serif;
    font-size: 3rem;
    cursor: pointer;
}

.page_admin .home input:hover {
    background-color: #4b4b4b;
    border-top: 4px solid #4b4b4b;
}

.page_admin .home input:focus {
    border-bottom: 0;
}