:root{
    --gold: #CEBA71;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    background-image: url('../img/bg_.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid white;
}

main {
    padding-top: 62px;
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 128px;
    margin-left: 5%;
}

h1{
    font-size: 48px;
    letter-spacing: 1px;
}
.main-info h1{
    font-family: 'Bokor';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 173px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF0000;
    text-shadow: 2px 0 rgb(255, 255, 255), -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.description {
    padding-top: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.troll {
    width: 340px;
}

#timer{
    position: absolute;
    top: 20px;
    right: 7%;
    color: var(--gold);
}

h1{
    margin-top: 100px;
    margin-bottom: 30px;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h3{
    margin-top: 20px;
}

/* partie QIZZ */

#quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question_title{
    margin: 80px auto;
    letter-spacing: 2px;
}

#answer_area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

#qcm_choice1 { grid-area: 1 / 1 / 2 / 2; }
#qcm_choice2 { grid-area: 1 / 2 / 2 / 3; }
#qcm_choice3 { grid-area: 2 / 1 / 3 / 2; }
#qcm_choice4 { grid-area: 2 / 2 / 3 / 3; }

button{
    font-size: 1rem;
    color: white;
    background-color: #1D1D1D;
    width: 350px;
    height: 100px;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

#answer_area button:hover{
    border-radius: 10px;
    border: 2px solid var(--gold);
}

#answer_area button:active{
    outline: 2px solid var(--gold);
}

/* Leaderboard */

#leaderboard{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-image: url(../img/tetedemort.png);
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

#leaderboard h2{
    color: #FF0000;
    font-size: 5rem;
    font-family: 'Bokor', sans-serif;
    letter-spacing: 2px;
}

#leaderboard p{
    font-size: 2.5rem;
}

#undertale{
    width: 20%;
    position: absolute;
    left: 5%;
    /* transform: rotate(-20deg); */
}

#undertale2{
    width: 20%;
    position: absolute;
    right: 5%;
    /* transform: rotate(20deg); */
}